name: Deploy to gcp

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build and push docker conatainer
    runs-on: ubuntu-latest
    environment: production
    permissions:
      packages: write
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Build and push
        id: docker-build-push
        uses: nais/docker-build-push@v0
        with:
          team: team-researchops
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          cache_from: type=gha
          cache_to: type=gha,mode=max

    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deploy-prod:
    name: Deploy to prod-gcp
    needs: build
    environment: production
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6
      - name: Deploy to prod
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: nais.yaml
          VAR: image=${{ needs.build.outputs.image }},version=${{ github.sha }}
